* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Space Grotesk';
}

body{
    background-color: rgb(1, 21, 48);
    color: lightgray;
}

.container{
    max-width: 550px;
    margin: 0 auto;
}

header{
	background-color: rgb(76, 2, 53);
	color: rgb(233, 244, 91);
	text-align: center;
	padding: 3rem;
}

h1{
	font-size: 3rem;
}

span{
	font-size: 1.2rem;
}

.genres{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem;
	gap: 1rem;
}

.genre{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 90px;
	font-size: 2.3rem;
	border: 1px solid lightblue;
	cursor: pointer;
}

p:hover{
	transform: scale(2);
}

.loader{
	height: 550px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dnone{
	display: none;
}

.gameover{
	text-align: center;
	padding: 2rem;
}

.icon{
	font-size: 4rem;
}

button{
	padding: 1.3rem;
	width: 100%;
	font-size: 1.2rem;
	border: 1px solid lightblue;
	background-color: transparent;
	color: white;
	cursor: pointer;
}

button:hover{
	background-color: lightblue;
}

.picture{
	min-height: 300px;
	background-image: url('img/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.picture > img{
	max-width: 100%;
}

.content{
	padding: 2rem;
	position: relative;
	top: -50px;
	background-image: linear-gradient(to bottom, rgba(6, 24, 50, 0.5) 40%, rgb(6, 24, 50) 100%);
}

.game-started h1{
    font-size: 2rem;
}

.game-started header{
    padding: 2rem;
}

.game-started header span,
.game-started .genres{
    display: none;
}
